.header{
	text-align: center
}

.frame{
	position: absolute;
	left:45px;
	top:45px;
	background-color:black;
	height: 430px;
	width: 625px;
}

.frame-interact{
	position: absolute;
	left: 850px;
	top: 50px;
	height: 420px;
	width: 615px;
	color: white;
	background-color: black;
}

.status{
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
	background-color: white;
}

.frame-travel{
	position: absolute;
	left: 50px;
	top: 50px;
	color: white;
}

.labels{
	width: 300px;
	text-align:right;
	font-size: 22px;
}

.data{
	top: 195px;
	position: absolute;
	font-size: 22px;
	left: 320px;
}

