.header{
	text-align: center
}

.frame{
	position: absolute;
	left:645px;
	top:45px;
	background-color:black;
	height: 430px;
	width: 510px;
	
}

.frame-interact{
	position: absolute;
	left: 650px;
	top: 50px;
	height: 420px;
	width: 500px;
	color: white;
	background-color: black;
}

.status{
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
	background-color: white;
}

